<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/res/default.css">
    <link rel="icon" type="image/x-icon" href="../res/favicon.png">
    <title>9client -
        <%= title %>
    </title>

    <div class="topbar">
        <img src="/res/logo.png" alt="9client Logo">
        <a href="">Games</a>
        <a href="">Catalog</a>
        <img src="https://assets.scu.edu/images/icon/cog.png" href="" class="topbaricon">
		<% if (user) { %>
            <a href="/logout" style="float: right;">Log Out</a>
		<% } else {%>
            <a href="/login" style="float: right;">Log In</a>
		<% }%>
    </div>
    <div class="bg"></div>
</head>

<body>
    <%- page %>
</body>

</html>