<style>
    #thumbnail {
        width: 50%;
        aspect-ratio: 16/9;
        float: left;
    }
    
    #play {
        width: 100%;
        height: 50px;
        margin-top: 25%;
    }
</style>

<body>
    <div class="middlebox" style="padding-top: 25px; padding-right: 0px;">
        <img id="thumbnail" src="/res/9clientorigin.png" alt="thumbnail">
        <div style="float: right; width: 50%; margin-top: 75px;">
            <div style="width: 90%; margin-left: 50%; transform: translateX(-50%);">
                <h1 id="title">Title</h1>
                <a id="creator" href="">Creator</a>
                <button id="play">Play</button>
            </div>
        </div>
    </div>
</body>
