body {
    font-size: 15px;
    font-family: 'Trebuchet MS';
    color: whitesmoke;
    background-color: black;
    image-rendering: optimizeQuality;
}

a:any-link {
    color: rgb(255, 75, 75);
    text-decoration: none;
}

.topbar {
    width: 100%;
    background-color: rgb(50, 50, 50);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .25);
    margin-left: -10px;
    margin-top: -10px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.topbar img {
    float: left;
    height: 50px;
    padding: 5px;
}

.topbar img:hover {
    background-color: rgb(40, 40, 40);
}

.topbar a {
    float: left;
    color: whitesmoke;
    padding: 5px 10px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: auto;
}

.topbar a:hover {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

.topbar a.active {
    background-color: rgb(255, 75, 75);
    color: black;
}

.topbar .topbaricon {
    float: right;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topbar .topbaricon:hover {
    background-color: rgb(40, 40, 40);
}

.bg {
    width: 125%;
    height: 125%;
    filter: blur(10px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgb(5, 0, 0) 100%), url("/res/skybk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    margin-left: 50%;
    margin-top: -50px;
    transform: translateX(-50%);
    z-index: -1;
}

.middlebox {
    width: 60%;
    max-height: 600px;
    background-color: rgb(50, 50, 50);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .25);
    margin-left: 50%;
    transform: translate(-50%, 100px);
    padding: 75px 25px 25px 25px;
    display: block;
    overflow: hidden;
}

.middlebox h1 {
    font-size: 40px;
    margin-top: -60px;
    font-weight: bold;
    position: absolute;
    float: left;
}

.friend {
    margin-top: -20px;
    margin-left: 15px;
    float: left;
    width: 75px;
}

.friend img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(45, 45, 45);
}

.friend a {
    width: 75px;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.game {
    background: rgb(45, 45, 45);
    height: 255px;
    width: 170px;
    padding: 25px;
    float: left;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
}

.game img {
    width: 100%;
    height: 170px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.game a {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.game h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.textform input {
    background: rgb(45, 45, 45);
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 2px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: whitesmoke;
}

button {
    background-color: rgb(255, 75, 75);
    color: black;
    border-style: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}

button:hover {
    background-color: rgb(125, 50, 50);
    color: whitesmoke;
}

button:active {
    box-shadow: inset 0px 0px 3px rgb(0, 0, 0);
}